table {
    border: none;
    margin: auto;
    border-spacing: 20px;
}
td {
    border: 5px solid hsl(132deg 67% 51%);
    width: 80px;
    height: 80px;
    background: hsl(19deg 88% 51%);
}
div {
    width: 30px;
    height: 30px;
    margin: 25px;
    background: hsl(19deg 88% 51%);
}
table tr:nth-child(2n) td:nth-child(2n) div:nth-child(2n+1),
table tr:nth-child(2n+1) td:nth-child(2n+1) div:nth-child(2n+1) {
    background: hsl(19deg 88% 51%);
}

table tr:nth-child(2n) td:nth-child(2n),
table tr:nth-child(2n+1) td:nth-child(2n+1) {
    background: hsl(132deg 67% 51%);
    border-color: hsl(19deg 88% 51%);

}

table tr:nth-child(2n) div:nth-child(2n+1),
table tr:nth-child(2n+1) div:nth-child(2n+1) {
    background: hsl(19deg 88% 51%);
}

table td:nth-child(2n) div:nth-child(2n+1),
table td:nth-child(2n+1) div:nth-child(2n+1) {
    background: hsl(132deg 67% 51%);
}


